/* Adds an absolute position to the container, floating it to the right and using a delicate box shadow with a very light gray background. This also adds a very dark gray text color, combined with a tooltip-sized width & height */
.container {
  position: absolute;
  right: -1rem;
  top: -2rem;
  background: white;
  border: 0.2rem solid #eee;
  color: #111;
  font-size: 1.2rem;
  box-shadow: 0 1rem 2rem rgba(140, 140, 180, 0.5);
  text-align: center;
  line-height: 1.4;
  padding: 0 1rem;
  border-radius: 0.25rem;
}

@media screen and (min-width: 1200px) {
  .container {
    right: -2rem;
  }
}
