.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 1rem auto 3rem auto;
}

.section,
.form {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form .textarea,
.form .button {
  font-size: 1.4rem;
  border-radius: 0.25rem;
}

.form .textarea {
  background: #eee;
  resize: none;
  padding: 1.4rem;
  font-weight: 500;
}

.form .button {
  margin: 2.4rem auto 0 auto;
  line-height: 2.4;
  background: #229955;
  border: 0.1rem solid #44bb77;
  color: #ddffee;
  cursor: pointer;
  transition: filter 200ms ease-in-out;
  min-width: 20rem;
}

.form .button:hover {
  filter: brightness(0.8);
}

.markdown {
  overflow-x: auto;
}

.markdown h3:not(:first-of-type) {
  margin-top: 6rem;
}

.divider {
  margin-top: 4rem;
  border-color: #444;
}
